In [1]:
import pandas as pd

In [4]:
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [6]:
emp=pd.Series(['Parker','John','Smith','William'])
id=pd.Series([2,7,9,4])
frame={'Emp':emp,'ID':id}
result=pd.DataFrame(frame)
print("\nSeries to data frame\n")
print(result)

Series to data frame

       Emp  ID
0   Parker   2
1     John   7
2    Smith   9
3  William   4

In [7]:
print("\n Extracting one column:\n")
print(result['Emp'])

 Extracting one column:

0     Parker
1       John
2      Smith
3    William
Name: Emp, dtype: object

In [9]:
print("\nAdding new column:\n")
result['Age']=pd.Series([5,2,4,3])
print(result)

Adding new column:

       Emp  ID  Age
0   Parker   2    5
1     John   7    2
2    Smith   9    4
3  William   4    3

In [10]:
print("\nDeleting one column:\n")
del result['Age']
print(result)

Deleting one column:

       Emp  ID
0   Parker   2
1     John   7
2    Smith   9
3  William   4

In [11]:
print("\nExtracting the third row:\n")
print(result.loc[2])

Extracting the third row:

Emp    Smith
ID         9
Name: 2, dtype: object

In [12]:
print("\nSlice row:\n",result[1:3])

Slice row:
      Emp  ID
1   John   7
2  Smith   9

In [15]:
d2=pd.DataFrame([['Dale',123],['Mark',456]],columns=['Emp','ID'])
print("\nAdding new row values:\n",result.append(d2))

Adding new row values:
        Emp   ID
0   Parker    2
1     John    7
2    Smith    9
3  William    4
0     Dale  123
1     Mark  456

C:\Users\Tcs\AppData\Local\Temp\ipykernel_8084\3845137.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  print("\nAdding new row values:\n",result.append(d2))

In [17]:
print("\nDeletingparticular row:\n",result.drop(1))

Deletingparticular row:
        Emp  ID
0   Parker   2
2    Smith   9
3  William   4

In [6]:
import pandas as pd
import numpy as np

In [8]:
 print("DataFrame.apply function:\n")
info=pd.DataFrame([[3,2]]*3,columns=['A','B'])

DataFrame.apply function:

In [17]:
print("\noriginal dataframe:\n",info)

original dataframe:
    A  B
0  3  2
1  3  4

In [13]:
print("\nSquare root of DataFrame:\n", info.apply(np.sqrt))

Square root of DataFrame:
           A         B
0  1.732051  1.414214
1  1.732051  1.414214
2  1.732051  1.414214

In [14]:
print("\nsum of each column:\n",info.apply(np.sum,axis=0))

sum of each column:
 A    9
B    6
dtype: int64

In [15]:
print("\nsum of each row:\n",info.apply(np.sum,axis=0))

sum of each row:
 A    9
B    6
dtype: int64

In [22]:
info=pd.DataFrame([[5,8],[9,7]],columns=['A','B'])

In [26]:
print("\noriginal dataframe:\n",info)
print("\nminimum and maximum of each column:\n")
print(info.agg(['min','max']))

original dataframe:
    A  B
0  5  8
1  9  7

minimum and maximum of each column:

     A  B
min  5  7
max  9  8

In [29]:
print("\ndataframe.assign function:\n")
d2= pd.DataFrame([['dale',123],['mark',143]],columns=['emp','id'])

dataframe.assign function:

In [31]:
print("\noriginal dataframe:\n",info)
d2['age']=[35,40]
print("\n\adding new column:n",d2)
d=d2.assign(sex=['male','male'])
print("\nadding new column:\n",d)

original dataframe:
    A  B
0  5  8
1  9  7

dding new column:n     emp   id  age
0  dale  123   35
1  mark  143   40

adding new column:
     emp   id  age   sex
0  dale  123   35  male
1  mark  143   40  male

In [ ]:
print('\ndataframe.sort function:\n')
info=pd.dataframe(np.random.random(5,2),index=[3,4,5,6],columns = ['col3','col4'])
print(info)
info2=info.soet